name: Continuous Integration Pipeline

on:
  release:
    types: 
    - published
  #   - released
  #   - created

  workflow_dispatch:
  push:
    branches: [ main ]
    # tags: 
    #   - 'v[0-9]+.[0-9]+.[0-9]+'

  pull_request:
    branches: [ main ]

env:
  GO_VERSION: '1.24'
  MAIN_FILE: './cmd/server/hostinfo.go'

jobs:

  Verification:
    if: github.ref_name != 'main'
    name: Verification of all checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run Lint
        run: |
            echo "Running lint..."
            fmt_out=$(gofmt -l .)
            if [ -n "$fmt_out" ]; then
              echo "Go code is not formatted:"
              echo "$fmt_out"
              gofmt -d .
              exit 1
            fi
            go vet ./...

  semantic-release:
    if: >
      github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write # to be able to publish a GitHub release
    uses: ./.github/workflows/template-semantic-release.yml
    with:
      dry_run: false
      semantic_version: 20
    secrets:
      MY_GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
      