name: Semantic Release
on:
  workflow_call:
    inputs:
      dry_run:
        description: "Run the release in dry run mode"
        required: false
        type: boolean
        default: false
      semantic_version:
        description: "Semantic versioning mode (e.g., 20 for v2.0.0)"
        required: false
        type: number 
        default: 20
    outputs:
      new_release_published:
        description: "Indicates if a new release was published"
        value: ${{ jobs.release.outputs.new_release_published }}
      new_release_version:
        description: "The version of the new release"
        value: ${{ jobs.release.outputs.new_release_version }}
      new_release_major_version:
        description: "The major version of the new release"
        value: ${{ jobs.release.outputs.new_release_major_version }}
      new_release_minor_version:
        description: "The minor version of the new release"
        value: ${{ jobs.release.outputs.new_release_minor_version }}
      new_release_patch_version:
        description: "The patch version of the new release"
        value: ${{ jobs.release.outputs.new_release_patch_version }}
    secrets:
      MY_GITHUB_TOKEN:
        required: true


jobs:
  release:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Release
    runs-on: ubuntu-latest
    permissions: # Required permissions for semantic-release action
      contents: write # to be able to publish a GitHub release
    #   issues: write # to be able to comment on released issues
    #   pull-requests: write # to be able to comment on released pull requests

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      # - name: Install dependencies
      #   run: |
      #     if [ ! -f package.json ]; then
      #       cat <<EOF > .releaserc.yaml
      #     plugins:
      #       - "@semantic-release/commit-analyzer"
      #       - "@semantic-release/release-notes-generator"
      #       - "@semantic-release/changelog"
      #       - "@semantic-release/git"
      #       - "@semantic-release/github"

      #     branches:
      #       - "+([0-9])?(.{+([0-9]),x}).x"
      #       - main
      #       - fs/pl/start
      #     EOF
      #     fi 

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic # Need an `id` for output variables
        with:
          dry_run: ${{ inputs.dry_run }}
          semantic_version: ${{ inputs.semantic_version }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

      - name: Do something when a new release published
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo ${{ steps.semantic.outputs.new_release_version }}
          echo ${{ steps.semantic.outputs.new_release_major_version }}
          echo ${{ steps.semantic.outputs.new_release_minor_version }}
          echo ${{ steps.semantic.outputs.new_release_patch_version }}
